.next/
node_modules/
out/
dist/
.env
.env*.local
firebase-debug.log
firestore-debug.log
android/app/google-services.json
android/app/release/
android/.gradle/
android/**/build/
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json
*.tsbuildinfo
